option {
    display: inline;
    color: rgba(0, 0, 0, 0);
    background-color: black;
}

option:hover {
    display: inline;
    color: white;
}

summary {
    list-style: none;
}

summary::before {
    content: "1";
    transform: scale(1000000000%);
    transition: transform 2s;
}

details[open] > summary::before {
    transform: none;
}

details {
    padding: 10px;
    background-color: #f8f8f8;
    margin-bottom: 10px;
    border: rgba(54, 146, 225, 0.12) solid 3px;
    border-radius: 10px;
    width: fit-content;
}

details[open] {
    width: auto;
    transition: width 2s, height 2s;
}

img {
    border: rgba(80, 140, 189, 0.26) 3px solid;
    border-radius: 10px;
    box-shadow: 5px 5px 6px;
}

pre[v-pre],pre[v-pre] code{
    background-color : #2d2d2d;
    border-radius: 8px;
}

pre[v-pre] code{
    color: #ccc;
}